<h2>Work</h2>

<ul class="work-filters">
	<li><a href="#" data-filter="*">Show all</a></li>
	<li><a href="#" data-filter="web">Web Apps</a></li>
	<li><a href="#" data-filter="game">Games</a></li>
	<li><a href="#" data-filter="tool">Libraries</a></li>
</ul>

<div class="work-wrapper">
	<% items.each do |item| %>
		<article class="work-item-container <%= item[:type] %>">
			<div class="work-item <% if item[:image] == 'pivotal_labs.png'%>pivotal-labs-item<% end %>">
				<a href="<%= item[:link]%>"><img src=<%= "/assets/#{item[:image]}" %> class="work-img"></a>
			</div>
			<div class="work-item-description">
				<div class="description">
					<div class="work-item-name"><%= item[:name] %>.</div>
					<%= item[:description] %>
				</div>
				<div class="tech"><%= item[:tech] %></div>
			</div>
		</article>
	<% end %>
</div>