<header class="main-header">
	<div class="six columns alpha">
		<ul class="menu left-menu">
			<li class="menu-item"><%= link_to "JYL Creations", root_path, {class: 'logo'} %></li>
		</ul>
	</div>

	<div class="omega right">
		<ul class="menu right-menu">
			<li class="menu-item"><%= link_to "Work", '#' %></li>
			<li class="menu-item"><%= link_to "About", '#' %></li>
			<li class="menu-item"><%= link_to "Writing", '#' %></li>
			<li class="menu-item"><%= link_to "Project Inquiry", '#' %></li>
		</ul>
	</div>
</header>

<div class="work-items">
	<% @items.each do |item| %>
		<article class="work-item-container">
			<div class="work-item">
				<a href="<%= item[:link]%>"><img src=<%= "/assets/#{item[:image]}" %> class="work-img"></a>
			</div>
			<div class="work-item-description alpha left hidden">
				<div class="description ">
					<span class="strong"><%= item[:name] %>.</span>
					<%= item[:description] %>
				</div>
				<div class="tech"><%= item[:tech] %></div>
			</div>
		</article>
	<% end %>

</div>