<header class="main-header">
	<div class="sixteen columns alpha">
		<ul class="menu">
			<li class="menu-item"><%= link_to "JYL Creations", root_path, {class: 'logo'} %></li>
			<li class="menu-item"><%= link_to "Work", '#' %></li>
			<li class="menu-item"><%= link_to "About", '#' %></li>
			<li class="menu-item"><%= link_to "Writing", '#' %></li>
			<li class="menu-item"><%= link_to "Project Inquiry", '#' %></li>
		</ul>
	</div>
</header>

<div class="work-items">
	
	<article>
		<h3>YLS Class Action</h3>	
		<div class="work-item">
			<a href='#'><img src="/assets/yls_class_action.png" class="work-img"></a>
		</div>
	</article>

	<article>
		<h3>Year after Year</h3>
		<div class="work-item">
			<a href='#'><img src="/assets/year_after_year.png" class="work-img"></a>
		</div>
	</article>

	<article>
		<h3>Apply Up</h3>
		<div class="work-item">
			<a href='#'><img src="/assets/apply_up.png" class="work-img"></a>
		</div>
	</article>
</div>